
body{
    margin: 0px;
}
h1{
    text-align: center;
    background-color: gray;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0px;

}
h2{
    text-align: center;
}


img {
    margin-left: 600px;
}